_site
.sass-cache
.jekyll-metadata
Gemfile.lock
.DS_Store
assets/.DS_Store
assets/images/.DS_Store
assets/images/alumni/.DS_Store
.DS_Store
.DS_Store
.ruby-version
.DS_Store
assets/images/.DS_Store
assets/images/gallery/.DS_Store
