<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
</div>

<!-- Contact Information Section -->
<div class="page__footer-contact">
  <h3>Contact Dr Kim-Anh Do</h3>
  <p>Email: <a href="mailto:kimdo@mdanderson.org" style="color: white;">KimDo@MDAnderson.org</a></p>
  <p>Phone: (713) 794 - 4155</p>
  <p>Address: </br>1515 Holcombe Blvd., Unit 1411 </br> Houston, Texas 77030</p>
</div>
</br>
<div class="page__footer-copyright">{{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} Kim-Anh Do, Ph.D. {{ site.time | date: '%Y' }}&copy; </div>
