---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
    box-sizing: border-box;
}

/* Body width fixing */
body {
    max-width: 100%;
    overflow-x: hidden;
}

.align{
    text-align:center;
}


/* Box sizing depending on parent */
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Styling column */
.column {
    float: left;
    width: 33%;
    margin-bottom: 16px;
    padding: 2px 10px;
}

/* Column width change depends
      on screen size */
@media screen and (max-width: 768px) {
    .column {
        width: 100%;
        text-align: left;
    }
    .responsive-container-block {
      /* Adjust styles for smaller screens */
      flex-direction: column; /* For example, stack items vertically on smaller screens */
    }

    .container {
      padding: 10px;
    }

    h2 {
      text-align: center;
      display: block;
    }

    dl2 {
      grid-template-columns: 1fr; /* Single column on smaller screens */
    }
    
    .feature__wrapper {
      margin-left: 2em;
      margin-right: 2em;
      display: block;
    }

    .row-container {
      flex-direction: column; /* Change to column layout for smaller screens */
      text-align: center; /* Center text in column layout */
    }
  
    .text-blk {
      margin-right: 0; /* Remove right margin for better mobile spacing */
    }

}

/* Card designing */
.card {
    background-color: rgb(249, 246, 246);
    
}

.container {
    text-align: center;
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }

  * {
    font-family: Nunito, sans-serif;
  }
  
  .text-blk {
    margin-top: -1em;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .responsive-cell-block {
    min-height: 75px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
    margin-top: 20px;
    // margin-right: 40px;
    margin-bottom: 0px;
    //margin-left: 40px;
    justify-content: space-evenly;
  }

  .responsive-container-block1 {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    //margin-right: auto;
    margin-bottom: 0px;
    //margin-left: auto;
    justify-content: space-evenly;
  }
  
  .ainer {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
  }
  
  .inner-container {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: -1em;
    margin-right: auto;
    //margin-bottom: 50px;
    margin-left: auto;
  }

  .row-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-top: 3em;
  }
  
  .section-head-text {
    margin-top: -2em;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    color: rgb(52, 52, 52);
    margin: 0 0 10px 0;
  }
  
  .section-subhead-text {
    font-size: 25px;
    color: rgb(153, 153, 153);
    line-height: 35px;
    max-width: 470px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .img-wrapper {
    width: 180px;
    height: 190px;
  }

  .img-wrapper1 {
    width: 200px;
    height: 210px;
  }
  
  .team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-media-links {
    text-decoration: none;
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
  }

  .social-media-links1 {
    text-decoration: none;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
  }

  .social-media-links3 {
    text-decoration: none;
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
  }
  
  .name {
    font-size: 20px;
    font-weight: 700;
    color: rgb(102, 102, 102);
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
  }
  
  .position {
    font-size: 18px;
    font-weight: 700;
    color: rgb(52, 52, 52);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .team-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .alum-img{
    width:50%;
    height:50%;
    border-radius: 25%;
  }
  
  .team-card-container {
    width: 280px;
    margin: 0 0 40px 0;
  }
  
  @media (max-width: 500px) {
    .outer-container {
      padding: 10px 20px 10px 20px;
    }
  
    .section-head-text {
      text-align: center;
    }
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

dl2 {
  display: grid;
  grid-template-columns: max-content;
  column-gap: 1em;
  row-gap: 1em;
}

dl3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
  column-gap: 1em;
  row-gap: 1em;
}

dt2 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  grid-column-start: 1;
  font-weight: bold;
  font-size:0.8em;

}

dd2 {
  grid-column-start: 2;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 20px;
}

p2 {
  font-size: 20px;
}

image{
  width: 70%;
  height: auto;
}

.archive__item-title:hover {
  color: red; /* Change to the color you prefer */
}
 